# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.log
.metals/
.metals.sbt

### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### JetBrains template
.idea
out/
.idea_modules/
atlassian-ide-plugin.xml
.iml

private.sbt

# MODULES TARGETS
target/
modules/core/target
modules/generic/targetk
/.bsp/sbt.json

#changelog
changelog.md

### Metals (Scala Language Server)
.metals/
.metals.sbt
.bloop/
.bsp/
metals.sbt

### Cursor IDE
.cursor/
.cursorrules
.cursorignore

### VS Code
.vscode/
*.code-workspace

### Bloop (Build Server Protocol)
.bloop/
.bsp/
bloop.settings.json
bloop.settings.json.bak

### Additional Scala/Build tool files
*.metals/
*.bloop/
*.bsp/
