name: CICD

# triggers
on:
  push:
    branches: [ '*' ]
  release:
    types: [ created ]
  pull_request:
    branches:
      - main

# jobs
jobs:
  build:
    name: build (${{ matrix.name }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # supported scala versions
        include:
          - scala: 2.13.16
            name: Scala2_13
            test-tasks: coverage test coverageReport gen-doc
          - scala: 3.3.3
            name: Scala3_3
            test-tasks: coverage test coverageReport

    steps:
      - uses: actions/checkout@v6

      #----------- JDK -----------
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
          cache: sbt

      #------------ SBT ------------
      - name: Setup SBT
        uses: sbt/setup-sbt@v1.1.16

      #----------- CACHE -----------
      - name: Cache SBT
        uses: actions/cache@v5.0.3
        with:
          # A list of files, directories, and wildcard patterns to cache and restore
          path: |
            ~/.ivy2/cache
            ~/.sbt
          # An explicit key for restoring and saving the cache
          key: ${{ runner.os }}-sbt-${{ matrix.scala }}-${{ hashFiles('**/build.sb') }}

      #----------- COMPILE -----------
      - name: Compile, Format, Test and Coverage for ${{ matrix.scala }}
        run: sbt ++${{ matrix.scala }} clean ${{ matrix.test-tasks }}

      #----------- MIMA -----------
      - name: MiMa Report
        run: sbt ++${{ matrix.scala }} mimaReportBinaryIssues

      # #----------- COVERAGE -----------
      # - name: Upload Coverage to Codacy
      #   run: bash <(curl -Ls https://coverage.codacy.com/get.sh)
      #   env:
      #     CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

  deploy:
    runs-on: ubuntu-latest
    needs: [ build ]
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      #----------- JDK -----------
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
          cache: sbt

      #------------ SBT ------------
      - name: Setup SBT
        uses: sbt/setup-sbt@v1.1.16


      #----------- CACHE -----------
      - name: Cache SBT
        uses: actions/cache@v5.0.3
        with:
          # A list of files, directories, and wildcard patterns to cache and restore
          path: |
            ~/.ivy2/cache
            ~/.sbt
          # An explicit key for restoring and saving the cache
          key: ${{ runner.os }}-sbt-${{ matrix.scala }}-${{ hashFiles('**/build.sb') }}

      #----------- RELEASE -----------
      - name: Release
        run: sbt ci-release
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
