name: CICD

# triggers
on:
  push:
    branches: ['*']
  release:
    types: [ created ]
  pull_request:
    branches:
      - main

# env variables
env:
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
  SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
  SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
  PGP_SECRET: ${{ secrets.PGP_SECRET }}
  PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}

# jobs
jobs:
  build:
    name: build (${{ matrix.name }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # supported scala versions
        include:
          - scala: 2.13.12
            name: Scala2_13
            test-tasks: coverage test coverageReport gen-doc
          - scala: 3.3.1
            name: Scala3_3
            test-tasks: coverage test coverageReport

    steps:
      - uses: actions/checkout@v4

      #----------- JDK -----------
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: "liberica"
          java-version: 17

      #----------- CACHE -----------
      - name: Cache SBT
        uses: actions/cache@v3.3.2
        with:
          # A list of files, directories, and wildcard patterns to cache and restore
          path: |
            ~/.ivy2/cache
            ~/.sbt
          # An explicit key for restoring and saving the cache
          key: ${{ runner.os }}-sbt-${{ matrix.scala }}-${{ hashFiles('**/build.sb') }}

      #----------- COMPILE -----------
      - name: Compile, Format, Test and Coverage for ${{ matrix.scala }}
        run: sbt ++${{ matrix.scala }} clean scalafmtCheck ${{ matrix.test-tasks }}

      #----------- MIMA -----------
      - name: MiMa Report
        run: sbt ++${{ matrix.scala }} mimaReportBinaryIssues

      #----------- COVERAGE -----------
      - name: Codecov
        run: bash <(curl -s https://codecov.io/bash)

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4

      #----------- JDK -----------
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: "liberica"
          java-version: 17

      #----------- CACHE -----------
      - name: Cache SBT
        uses: actions/cache@v3.3.2
        with:
          # A list of files, directories, and wildcard patterns to cache and restore
          path: |
            ~/.ivy2/cache
            ~/.sbt
          # An explicit key for restoring and saving the cache
          key: ${{ runner.os }}-sbt-${{ matrix.scala }}-${{ hashFiles('**/build.sb') }}

      #----------- RELEASE -----------
      - name: Release
        run: sbt clean compile ci-release